.filter_tile
  %a.showhide.small.button
    Show filters

= form_tag :root, method: :get do
  %div#filter_panel
    .filters
      .organisation_filters.filter_section
        %h4 Show campaigns posted on...
        = collection_check_boxes(:emails_filter, :organisations, Organisation.all, :id, :name) do |c|
          .check_filter
            = c.label
            = c.check_box

        %h4 Show emails that are...
        = label_tag 'emails_filter[petitions_filter]', "Petitions only?"
        = check_box_tag 'emails_filter[petitions_filter]', 'yes', nil

      = submit_tag "Refresh", class: "small button"

.apply_filters
  %a.showhide
    close filters

